<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="./vue.js"></script>
</head>
<body>

    <div id="app">
       <p>Nome completo: {{nomeCompleto}}</p>
        <hr />

        <button @click="buscarPais">Buscar países</button>
        <select name="paises" id="paises" v-model="paisSelecionado">
            <option v-for="pais in paises" :value="pais">
              {{pais.name}}
            </option>
        </select>
        <p>{{capital}}</p>
        <!-- <p>{{paisSelecionado.name}} - Capital: {{paisSelecionado.capital}}</p> -->
    </div>

<!--
Você possui o nome e sobrenome do usuário em data,
crie uma propriedade computed que retorne o nome completo

Utilize a rest API para puxar as capitais dos paises
Use um campo de select, onde o usuário pode selecionar o país.
https://restcountries.eu/rest/v2/all

Com uma função watch, mude a capital de acordo com o país selecionado:

Ex de campo select:

  <select name="paises" id="paises" v-model="selecionado">
    <option v-for="pais in paises" :value="pais.name">
      {{pais.name}}
    </option>
  </select>
-->

<script>
   const vm = new Vue({
        el: "#app",
        data : {
            nome: "Helena",
            sobrenome: "Lacerda",
            paises: [],
            paisSelecionado: '',
            capital: ''
        },
        computed: {
            nomeCompleto() {
                return this.nome + " " + this.sobrenome
            }
        },
        methods: {
            buscarPais(paisSelecionado) {
                fetch("https://restcountries.eu/rest/v2/all")
                .then(response => response.json())
                .then(p => {
                    this.paises = p;
                })
            }  
             
        },
        watch: {
            paisSelecionado(novo) {
                this.capital = novo.capital
                // this.capital = this.paises.find((pais) => pais.name === novo)
            }
        }
   })
</script>

</body>
</html>