<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="./vue.js"></script>
</head>
<body>

    <div id="app">
        <div>{{total}} <br /></div>
        <ul>
            <li v-for="carro in carros">{{carro.marca}}</li>
        </ul>
        Carros Azuis
        <ul>
            <li v-for="carro in carrosAzuis">{{carro.marca}}</li>
        </ul>

        <button @click="removerCarro">Remover Carro</button>
        
        <p>{{contador}}</p>
        <button @click="contador++">Adicionar</button>

    </div>

<script>
    const vm = new Vue({
        el: "#app",
        data : {
            preco: 59,
            desconto: 10,
            carros: [
                {
                    marca: "VW",
                    cor: "Azul"
                },
                {
                    marca: "Ford",
                    cor: "Preto"
                },
                {
                    marca: "Tesla",
                    cor: "Azul"
                }
            ],
            contador: 0
        },
        computed: {
            total() {
                return 'R$' + (this.preco - this.desconto)
            },
            carrosAzuis() {
                return filtro = this.carros.filter(({cor}) => cor === 'Azul');
            }
        },
        methods: {
            removerCarro() {
                this.carros.pop();
            }
        },
        watch: {
            contador(valorNovo, valorAntigo) {
                alert(this.contador)
                alert('valor novo: ' + valorNovo)
                alert('valor antigo: ' + valorAntigo)
                this.removerCarro()
            }
        }
    })
</script>

</body>
</html>